*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main>.left{
    background: rgb(255, 255, 76);
    padding: 1rem;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
main>.left legend{
    color: black;
    font-weight: 600;
    margin: 0.5rem 0;
}
main>.left fieldset{
    border: none;
    border-top: 1px dashed #000;
}

.btn{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: black;
    color: yellow;
    font-weight: 600;
    cursor: pointer;
}
/* resume */
main>.right{
    background: whitesmoke;
    overflow-y: auto;
    padding: 1rem;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
main>.right>.block1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    width: 60vw;
    height: 100px;

}
.block3,.block4,.block5{
    width: 63vw;
}
.print{
    display: none;
}
#name,#project,#link,#company,#designation,#duration,#email,#phone,#github,#linkedin,#degree,#college,#Startingyear,#endingyear,#CGPA{
    position: fixed;
    row-gap: 10px;
    left: 200px;
    width: 17em;
} 
br{
    margin-bottom: 5em;
}
#Startingyear,#endingyear{
    width: 17em;
}
#skill,#description1{
   position:relative;
   left: 120px;
   height: 5em;
}
#skill{
    width: 17em;
    left:9.6em;
}
#description1,#description2{
    position: relative;
    left: 38.5px;
    top: 1px;
    width: 17em;   
}

#skill-title{
    position: fixed;
    top: 250px;
}
#des1,#des2{
    position: relative;
    bottom: 50px;
}
.underline{
        width: 60em;
        border-bottom: 2px solid black;
}
.education,.experience-title,.project-title,.skills-title{
    color: rgb(165, 165, 165);
}
.email-style,.phone-style,.github-style,.linkedin-style,.link-style{
    color: blue;
    font-size: 14px;
}
.name-style{
    position: relative;
    left: -5px;
    font-size: 3em;
}
.email-style{
    position: relative;
    left: -315px;
    bottom: -3.6px;
}
.phone-style{
    position: relative;
    right: 11.5rem;
    bottom: 13px;
}
.github-style{
    position: relative;
    bottom: 30px;
    left: -35px;
}
.linkedin-style{
    position: relative;
    left: 16.1em;
    bottom: 3.3em;
}
.col,.project-style{
    font-weight: 750;
    font-size: 1.7em;
}
.btech-style,.skill-style{
    font-weight: 750;
    font-size: 1.2em;
}
.role{
    font-weight: 1000;
    font-size: 1.7em;
}
.company-name{
    color: gray;
    font-weight: 1000;
    font-size: 1.2em;
}
.duration-style{
    color: gray;
}